.image_loader_002_image_box
{
	grid-column: 4;
	grid-row: 4;
	height: 100%;
	width: 100%;
	margin: auto;
	border: solid 1px var(--c3);
}

@media only screen and (min-width: 951px) { 
}

@media only screen and (max-width: 950px) and (min-width: 451px) { 

}

@media only screen and (max-width: 450px) {  

}