.h002 {
	display:flex;
	align-items: center;
	justify-content: flex-start;
	height: 100px;
	padding: 0 2rem;
	z-index: 900;
	gap: var(--g23);
	overflow: hidden;
} .h002_logo_container {
	display:flex;
	align-items: center;
	height: 100%;
	padding: 31px 0;
	/* border: var(--b1); */
	/* overflow: hidden; */
} .h002_menu_button { 
	display: none; 
} .h002_desktop_navigation_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: fit-content;
	height: 100%;
	margin-left: auto;
	gap: var(--g23);
	overflow: hidden;
	z-index: 900;
	font-family: f1r;
	/* border: var(--b1); */
	overflow: hidden;
} .h002_desktop_navigation_anchor {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 8rem;
	text-decoration: none;
	color: var(--c2);
	font-weight: 900 !important;
	letter-spacing: .25rem;
	font-size: .6rem;
} .h002_mobile_navigation_container {
	display: none;
	overflow: hidden;
} .h002_mobile_navigation_anchor {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 8rem;
	text-decoration: none;
	color: var(--c2);
	font-weight: 900 !important;
	letter-spacing: .25rem;
	font-size: .6rem;
	transition: all ease 2000ms;
}






@media only screen and (max-width: 950px) and (min-width: 451px) {  
	.h002 {
		display:flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: auto;
		min-height: 4rem;
		padding: 0rem 0rem;
		gap: 0;
		min-height: auto;
		/* border: var(--b1); */
	} 
	.h002_logo_container {
		padding: 2rem 0 1.5rem 0;
		margin-left: 1.75rem;
		/* border: var(--b1); */
	}	
	.h002_logo_container > img {
		max-height: 2.25rem;
	}
	.h002_menu_button {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		/* height: 30px; */
		width: 2.5rem;
		height: 100%;
		padding: 1rem 10px;
		margin-right: 1.75rem;
		bottom: 0;
		gap: .3rem;
		background: var(--c1);
		/* border: var(--b1); */
	} 
	.h002_menu_button:active { 
		filter: invert(50);
	} 
	.h002_menu_button > * {
		background: var(--c2);
		height: .15rem;
		width: 100%;
		border-radius: 5px;
	} 
	.h002_desktop_navigation_container {
		display: none;
	} 
	.h002_desktop_navigation_anchor {
	} 
	.h002_mobile_navigation_container {
		display: flex;
		flex-direction: column;
		align-items: flex-start !important;
		justify-content: center;
		text-align: left !important;
		gap: 2rem;
		left: 0;
		height: 0px;
		width: 100dvw;
		background: var(--c8);
		padding: 0 2rem;
		/* position: absolute; */
		/* border: var(--b1); */
	} 
	.h002_mobile_navigation_anchor {
		width: 100%;
		padding: 2dvw 0;
		font-size: .8rem;
		/* border-bottom: solid .5px var(--c6); */
		/* border: var(--b1); */
	}
}
    

    
@media only screen and (max-width: 450px) {   
	.h002 {
		display:flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: auto;
		min-height: 4rem;
		padding: 2.5rem 0rem 0rem 0;
		gap: 0;
		min-height: auto;
		/* border: var(--b1); */
	}
	.h002_logo_container {
		margin-left: -1.5rem;
		padding: 0rem 0 0rem 0;
		/* border: var(--b1); */
	}	
	.h002_logo_container > img {
		height: 2.5rem;
	}
	.h002_menu_button
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		/* height: 30px; */
		width: 3rem;
		padding: 10px 10px;
		bottom: 0;
		gap: .25rem;
		margin-top: .75rem;
		background: var(--c1);
		/* border: var(--b1); */
	}
	.h002_menu_button:active { filter: invert(0); }
	.h002_menu_button > *
	{
		background: var(--c2);
		height: .18rem;
		width: 100%; 
		border-radius: 5px;
	}
	.h002_desktop_navigation_container {
		display: none;
	}
	.h002_desktop_navigation_anchor {
	} 
	.h002_mobile_navigation_container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0;
		left: 0;
		height: 0px;
		width: 100dvw;
		background: var(--c8);
		padding: 0;
		margin-top: 1rem;
		/* position: absolute; */
		/* border: var(--b1); */
	} 
	.h002_mobile_navigation_anchor {
		width: 100%;
		padding: 25px 0;
		font-size: .65rem;
		/* border-bottom: solid .5px var(--c6); */
		/* border: var(--b1); */
	}
}