.hero_002
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 38dvw;
	/* border: var(--b1); */
	width: 100%;
	padding: 0 0dvw;
	margin: 0 auto;
	z-index: 1000;
}

@media only screen and (min-width: 951px) { 
}

@media only screen and (max-width: 950px) and (min-width: 451px) { 

}

@media only screen and (max-width: 450px) {  
	.hero_002
	{
		height: 80dvw !important;
	}
}

