.hero_001_hero_message
{
	position: absolute;
	/* bottom: 0; */
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	overflow: hidden;
	background: var(--c1);

	gap: 1.750dvw;
	width: 20%;
	height: 9dvw;
	padding: 0 5dvw;
	display: none;
}

.hero_001_hero_message_heading_container
{	
	display: flex;
	flex-direction: column;
	gap: 1.050dvw;
	text-align: left;
	/* margin-top: -.51dvw; */
}

.hero_001_hero_message_h1
{
	letter-spacing: .124dvw;
	font-size: 1.5465dvw;
	font-weight: 900;
}

.hero_001_hero_message_p
{
	letter-spacing: .25dvw;
	color: var(--c9);
	font-size: .7dvw;
	font-weight: 900;
}

.hero_001_hero_message_buttons_container
{
	display: flex;
	align-items: center;
	gap: 2dvw;
	display: none;
}

.hero_001_hero_message_buttons_container_button
{
	font-size: .7dvw;
	letter-spacing: .15dvw;
	font-weight: 900;
	background: var(--c2);
	color: var(--c1);
	padding: 0.90dvw 2.00dvw;
	cursor: pointer;
}
.hero_001_hero_message_buttons_container_button:hover
{
	background: var(--c_good);
	color: var(--c1);
}
.hero_001_hero_message_buttons_container_button_1
{

	display: none;
	order: 2;
}

.hero_001_hero_message_buttons_container_button_2
{
	display: none;
	background: var(--c3);
	color: var(--c2);
}


@media only screen and (min-width: 951px) { 
}

@media only screen and (max-width: 950px) and (min-width: 451px) { 

}

@media only screen and (max-width: 450px) {  
}

