.hero_001_image_container
{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	background: red;
	height: 150%;
}

.hero_001_image_container_image
{
	
}

@media only screen and (min-width: 951px) { 
}

@media only screen and (max-width: 950px) and (min-width: 451px) { 

}

@media only screen and (max-width: 450px) {  

}

