.carrousel_001_image_strip_container
{
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.carrousel_001_image_strip_container_image_strip
{
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	height: 100%;
}
.carrousel_001_image_container
{
	display: flex;
	align-items: flex-end;
	justify-content: center;
	overflow: hidden;
	width: 100dvw;
	height: 100%;
}








@media only screen and (min-width: 951px) { 
}

@media only screen and (max-width: 950px) and (min-width: 451px) { 

}

@media only screen and (max-width: 450px) {  

}