.L_add_R_report_DASHBOARD
{
	width: 100dvw;
	display: flex;
	flex-direction: column;
	gap: 2dvw;
	padding: 2dvw 2dvw 4dvw;
	min-height: 90dvh;
}



.L_add_R_report_DASHBOARD_ADD_ITEM_CONTAINER
{
	width: 100%;
}
.L_add_R_report_DASHBOARD_ITEM_CONTAINER
{
	width: 100%;
}
.L_add_R_report_DASHBOARD_REPORT_CONTAINER
{
	width: 100%;
}






.L_add_R_report_DASHBOARD_ADD_ITEM_CONTAINER
{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2dvw;
	width: 100%;
	/* border: solid .1dvw var(--c2); */
}
.L_add_R_report_DASHBOARD_BUTTONS_CONTAINER
{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1dvw;	
}
.L_add_R_report_DASHBOARD_BUTTONS_CONTAINER > h4
{
	font-size: .5dvw;
}
.L_add_R_report_DASHBOARD_BUTTONS_CONTAINER > button
{
	color: var(--c1);
	font-size: 1.5dvw;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3dvw;
	width: 3dvw;
	font-family: inherit;
	letter-spacing: .1dvw;
	cursor: pointer;
	border: none;
	box-shadow: .25dvw .25dvw .5dvw rgba(0,0,0,.15);
}
.L_add_R_report_DASHBOARD_BUTTONS_CONTAINER > button:active
{
	transform: scale(1.025);
}
.L_add_R_report_DASHBOARD_ADD_ITEM_CONTAINER_ADD_BUTTON
{
	background:var(--c_good);
}
.L_add_R_report_DASHBOARD_ADD_ITEM_CONTAINER_REMOVE_BUTTON
{
	background:var(--c_bad);
}
.L_add_R_report_DASHBOARD_ORDER_TOTAL
{
	margin-right: auto;
}






.L_add_R_report_DASHBOARD_ITEM_CONTAINER
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1dvw;
}
.L_add_R_report_DASHBOARD_ITEM_CONTAINER_EMPTY_PLACEHOLDER
{
	font-size: .75dvw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1dvw;
	background: var(--c1);
	color: var(--c2);
	box-shadow: .5dvw .5dvw .5dvw rgba(0,0,0,.15);
	padding: 1dvw 1.5dvw;
	width: 100%;
}
.L_add_R_report_DASHBOARD_ITEM_CONTAINER_EMPTY_PLACEHOLDER button
{
	background:var(--c_good);
	color: var(--c1);
	font-weight: 900;
	font-size: .75dvw;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .75dvw 2dvw;
	font-family: inherit;
	letter-spacing: .1dvw;
	border: none;
	cursor: pointer;
	width: fit-content;
	box-shadow: .15dvw .15dvw .5dvw rgba(0,0,0,.15);
}
.L_add_R_report_DASHBOARD_ITEM_CONTAINER_ITEM
{
	width:24%;
	font-size: .75dvw;
	display: flex;
	flex-direction: column;
	gap: .5dvw;
	background: var(--c1);
	color: var(--c2);
	padding: 0 0 1dvw 0;
	box-shadow: .5dvw .5dvw .5dvw rgba(0,0,0,.15);
}
.L_add_R_report_DASHBOARD_ITEM_CONTAINER_ITEM_IMAGE
{
	height: 14dvw!important;
	width: 100%;
	display: flex;
	padding: 0!important;
	overflow: hidden!important;
	margin-bottom: .5dvw;
}
.L_add_R_report_DASHBOARD_ITEM_CONTAINER_ITEM_IMAGE > img
{
	height: 120%;
	transition: all ease 1000ms;
	position: absolute;
}
.L_add_R_report_DASHBOARD_ITEM_CONTAINER_ITEM > div:not(.L_add_R_report_DASHBOARD_ITEM_CONTAINER_ITEM_IMAGE)
{
	display: flex;
	align-items: center;
	gap: 1dvw;
	flex: 1;
	letter-spacing: .1dvw;
	padding: 0 1dvw;
	/* border: solid .1dvw var(--c2); */
}
.L_add_R_report_DASHBOARD_ITEM_CONTAINER_ITEM > div > *:not(h4, h3, img)
{
	height: 1.75dvw;
	background: #f0f0f0;
	color: var(--c2);
	font-size: .75dvw;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .25dvw .5dvw;
	font-family: inherit;
	letter-spacing: .1dvw;
	border: none;
	cursor: pointer;
	width: 50%;
}
.L_add_R_report_DASHBOARD_ITEM_CONTAINER_ITEM h4
{
	display: flex;
	align-items: center;
	height: 1.75dvw;
	width: 50%;
	order: 1;
	font-size: .65dvw;
	text-align: left;
	padding: 0 .0dvw;
}
.L_add_R_report_DASHBOARD_ITEM_CONTAINER_ITEM h3
{
	display: flex;
	align-items: center;
	height: 1.75dvw;
	width: 50%;
	order: 1;
	font-size: .65dvw;
	text-align: left;
	padding: 0 .5dvw;
}
.L_add_R_report_DASHBOARD_ITEM_CONTAINER_ITEM > div > p
{
	order: 2;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 1.75dvw;
	width: 50%;
	font-size: .65dvw;
	background: none;
	text-align: left;
	padding: 0;
}
.L_add_R_report_DASHBOARD_ITEM_CONTAINER_ITEM > .item_day_quantity_div
{
	margin-top: .25dvw;
}




















.L_add_R_report_DASHBOARD_REPORT_CONTAINER
{
	display: none;
	flex-direction: column;
	align-items: center;
	gap: 1dvw;
	/* border: solid .1dvw var(--c2); */
}
.L_add_R_report_DASHBOARD_REPORT_CONTAINER_REPORT_BOX
{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1dvw;
	height: fit-content;
	width: 100%;
}
.L_add_R_report_DASHBOARD_REPORT_CONTAINER_REPORT_BOX > div
{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1dvw;
	padding: 3dvw 3dvw;
}
.L_add_R_report_DASHBOARD_REPORT_CONTAINER_REPORT_BOX > div > div 
{
	width: 100%;
	font-size: .5dvw;
	display: flex;
	gap: .5dvw;
	padding: 1dvw;
	background: var(--c1);
	color: var(--c2);
	letter-spacing: .1dvw;
	box-shadow: .5dvw .5dvw .5dvw rgba(0,0,0,.15);
}
.L_add_R_report_DASHBOARD_REPORT_CONTAINER_REPORT_BOX > div > div > div
{
	font-size: .5dvw;
	display: flex;
	justify-content: space-between;
	background: #fafafa;
	padding: .5dvw 1dvw;
}
.L_add_R_report_DASHBOARD_REPORT_CONTAINER_REPORT_BOX > div > div > div > label
{
	font-size: .5dvw;
	display: flex;
	justify-content: space-between;
}
.L_add_R_report_DASHBOARD_REPORT_CONTAINER_REPORT_BOX > div > div > h3
{
	font-size: .75dvw;
	display: flex;
	align-items: center;
	padding: 0 1dvw;
	background: var(--c1);
	color: var(--c2);
	font-size: .75dvw;
	height: 2dvw;
}
.L_add_R_report_DASHBOARD_REPORT_CONTAINER_REPORT_BOX > div > div > h4
{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1dvw;
	background: var(--c1);
	color: var(--c2);
	font-size: .75dvw;
	height: 2dvw;
	width: 50%;
}
.L_add_R_report_DASHBOARD_REPORT_CONTAINER_TOTAL_BOX
{
	padding: 1dvw 0;
}










.L_add_R_report_DASHBOARD_CHEKOUT_BUTTONS_CONTAINER
{
	height: 100%;
	display: flex;
	justify-content: center;
	gap: .5dvw;
	padding: 0 0 0dvw 0;
}
.L_add_R_report_DASHBOARD_CHEKOUT_BUTTONS_CONTAINER a
{
	text-decoration: none;
}
.L_add_R_report_DASHBOARD_CHEKOUT_BUTTONS_CONTAINER > a > button
{
	height: 3dvw;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--c2);
	color: var(--c1);
	font-size: .75dvw;
	padding: 1dvw 1dvw;
	font-family: inherit;
	letter-spacing: .1dvw;
	border: solid .1dvw var(--c2);
	cursor: pointer;
	border: none;
	box-shadow: .25dvw .25dvw .5dvw rgba(0,0,0,.15);
	gap: .5dvw;
}
.L_add_R_report_DASHBOARD_CHEKOUT_BUTTONS_CONTAINER > *:nth-child(2) > button > img
{
	height: 130%;
	filter: brightness(100);
}
.L_add_R_report_DASHBOARD_CHEKOUT_BUTTONS_CONTAINER > *:nth-child(2) > button
{
	background: rgb(40, 194, 40);
	color: var(--c1);
	border: none;
}




