.hero_004_outer_container
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 35dvw;
    width: 100dvw;
    overflow: hidden;
    background: var(--c3);
    gap: 2dvw;
    color: var(--c7);
    font-family: f1r;
    letter-spacing: .1dvw;
}


.hero_004_left_image_container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 37dvw;
    background: var(--c3);
    overflow: hidden;

}
.hero_004_left_image_container_image{}
.hero_004_right_image_container
{
    /* position: absolute;
    right: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* width: 70dvw; */
    width: 37vw;
    background: var(--c3);
    overflow: hidden;

}
.hero_004_right_image_container_image {height: 110%;}


.hero_004_center_message_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5dvw;
    height: 100%;
    width: 26dvw;
    background: var(--c8);
    overflow: hidden;
    z-index: 1000;
    padding: 3dvw 3dvw 3dvw 3dvw;
    /* border: var(--b1); */
}
.hero_004_center_message_container_logo_container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    left: -.5dvw;
}
.hero_004_center_message_container_title
{
    text-align: center;
    font-size: 1.75dvw !important;
    line-height: 2.5dvw !important;
    letter-spacing: .2dvw;
    color: var(--c2);
    margin-top: 1.0dvw;
}
.hero_004_center_message_container_logo_container_image
{

}
.hero_004_center_message_container_message
{
    line-height: 1.25dvw;
    font-size: .85dvw;
    text-align: center;
}

.hero_004_center_message_container_controls_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1dvw;
    margin-top: 1.5dvw;
}
.hero_004_center_message_container_controls_container_lateral_controls_container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2dvw;

}
.hero_004_center_message_container_controls_container_lateral_controls_container_control_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--c3);
    height: 2dvw;
    width: 2dvw;
}
.hero_004_center_message_container_controls_container_lateral_controls_container_control_container:hover
{
    filter: invert(100); 
}

.hero_004_center_message_container_controls_container_lateral_controls_container_left_control_container_bar
{
    background: var(--c7);
    height: 30%;
    width: .2dvw;
    border-radius: 10dvw; 
    transform: rotate(45deg);
}
.hero_004_center_message_container_controls_container_lateral_controls_container_right_control_container_bar
{
    background: var(--c7);
    height: 30%;
    width: .2dvw;
    border-radius: 10dvw; 
    transform: rotate(45deg);
}

.hero_004_center_message_container_controls_container_lateral_controls_container_left_control_container
{
}
.hero_004_center_message_container_controls_container_lateral_controls_container_right_control_container
{
}

.hero_004_center_message_container_controls_container_lateral_controls_container_left_control_container_bar_1
{
    transform: rotate(135deg);
    top: 20%;
}
.hero_004_center_message_container_controls_container_lateral_controls_container_left_control_container_bar_2
{
    transform: rotate(45deg);
    bottom: 20%;
}

.hero_004_center_message_container_controls_container_lateral_controls_container_right_control_container_bar_1
{
    transform: rotate(45deg);   
    top: 20%;
}
.hero_004_center_message_container_controls_container_lateral_controls_container_right_control_container_bar_2
{
    transform: rotate(135deg);
    bottom: 20%;
}

.hero_004_center_message_container_controls_container_dot_controls_container
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1dvw;
    width: 100%;
    height: 2dvw;
    /* border: var(--b1); */
}
.hero_004_center_message_container_controls_container_dot_controls_container_dot
{
    background: var(--c9);
    height: .65dvw;
    width: .65dvw;
    border-radius: 10dvw;
}
.selected_dot{
    background:var(--c2);
}





.viewer_002_information_container_image_viewer_controls_container
{
    
}
.viewer_002_information_container_image_viewer_controls_container_message
{
}
.viewer_002_information_container_image_viewer_controls_container_lateral_controls_container
{
    
    /* margin-top: auto; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* justify-content: flex-end; */
    gap: 1dvw;
    /* border: var(--b1); */
    height: 100%;
    width: 100%;
    height: 2dvw;
}




.hero_004_center_message_container_action_button
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2.75dvw;
    width: 13dvw;
    margin: 0 auto;
    margin-top: auto;
    font-size: .75dvw;
    border: solid .1dvw var(--c7);
    text-decoration: none;
    background: var(--c2);
    color: var(--c1);
}

			


@media only screen and (max-width: 950px) and (min-width: 451px) { 
  
}



@media only screen and (max-width: 450px) {  
   
}