.header_001
{
	display:flex;
	align-items: center;
	justify-content: space-between;
	height: 8dvw;
	padding: 0 2rem;
	z-index: 900;
	gap: var(--g23);
	overflow: hidden;
}

@media only screen and (min-width: 951px) { 
}

@media only screen and (max-width: 950px) and (min-width: 451px) { 

}

@media only screen and (max-width: 450px) {  
	.hero_001
	{
		height: 80dvw !important;
	}
}

