			
.header_001_header_logo_container
{
	height: 100%;
	padding: 2.75dvw 0;
}	
				
.header_001_header_logo_container_image
{
	top: .1dvw;
}








@media only screen and (min-width: 951px) { 
}

@media only screen and (max-width: 950px) and (min-width: 451px) { 

}

@media only screen and (max-width: 450px) {  
}