:root
{
	/* font-family: f3; */
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	scroll-behavior: smooth;

	--b1: solid .1dvw red;
	--b2: solid .1dvw rgb(226, 226, 226);
	
	--first:#fff;
	--c1:#fff;
	--second:#000;
	--c2:#000;
	--c3:#f0f0f0;
	--c4:#fcf7cb;
	/* --c5: rgb(75, 192, 255); */
	--c5: rgb(255, 255, 255);
	--c6: rgb(136, 136, 136);
	--c7: rgb(119, 119, 119);
	--c8: #aaa;

	--c_good:rgb(71, 199, 62);

	--c_bad:rgb(211, 62, 84);

	--success_1:rgb(0, 200, 73);
	--inactive_1:rgb(215, 215, 215);
	--disabled_1:rgb(230, 230, 230);
	--failure_1:rgb(230, 43, 80);

	--shadow_1: 1vw 1vw 1vw rgba(255,255,255,.25);
	--sh2: .0dvw .0dvw 1dvw rgba(0,0,0, 0.15);
	--sh3: .15dvw .15dvw 1dvw rgba(0,0,0, 0.1);
	--sh4: .25dvw .25dvw .25dvw rgba(0,0,0, 0.5);
	--sh5: .25dvw .25dvw .5dvw rgba(0,0,0, 0.25);

	--tr1: all ease 1000ms;
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	text-transform: uppercase;
}
b
{
	font-weight: 900;
}


.active_button
{
	pointer-events: all;
	background: var(--success_1) !important;
}
.disabled_button
{
	pointer-events: none;
	background: var(--inactive_1) !important;
}
.active_input
{
	pointer-events: all;
	background: var(--c1) !important;
}
.disabled_input
{
	pointer-events: none;
	background: var(--disabled_1) !important;
}
.disabled_container
{
	height: 0 !important;
	padding: 0 1dvw !important;
}
.enabled_container
{
	padding: 1dvw !important;
}